venv
.venv
__pycache__
db.sqlite3
.mypy_cache
setup.cfg
.env
.vscode
lime_website/static/assets/gamedev/images
lime_website/static/assets/.gamedev
lime_website/static/theme
lime_website/lime_website/templates/temporary
media/
env-values.yaml